@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
.wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: auto;
}
.reaction-area{
    padding: 40px;
    display: flex;
    text-align: center;
    background-color:#2596be;
    flex-direction: column;
    width: 100%;
    height: 300px;
}
.font{
    font-family: 'Inter',sans-serif;
    color: whitesmoke;
}
.upper-text{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: -20px;
}
.lower-text{
    font-weight: 500;
    font-size: 35px;
    margin-bottom: -10px;
}
.instruct-text{
    font-weight: 300;
    font-size: 25px;
}
.form{
    width: auto;
    padding-top: 20px;
}
.leader-board{
    padding: 20px;
    display: inline-flex;
    align-items: center;
    width: 100%;
}
.averageTimeLeaderboard-wrapper{
    width: 50%;
    background-color:rgb(214, 214, 214);
    display: inline-flex;
    margin: 20px;
    flex-direction: column;
    padding: 5px;
    border-radius: 8px;
    align-items: center;
}
.minTimeLeaderboard-wrapper{
    width: 50%;
    background-color:rgb(214, 214, 214);
    display:inline-flex;
    margin: 30px;
    padding: 5px;
    flex-direction: column;
    border-radius: 8px;
    align-items: center;
}
.averageTimeLeaderboard{
    width: 100%;
    display: flex;
    background-color: #2596be;
    align-items: center;
    color: whitesmoke;
    font-family: 'Inter',sans-serif;
    border-radius: 8px;
}
.minTimeLeaderboard{
    width: 100%;
    display: flex;
    background-color: #2596be;
    align-items: center;
    color: whitesmoke;
    font-family: 'Inter',sans-serif;
    border-radius: 8px;
}
.minOL{
    font-size: medium;
    font-family: 'Inter';
}
.averageOL{
    font-size: medium;
    font-family: 'Inter';
}
.averageTimeLeaderboard-header{
    width: 100%;
    display: flex;
    align-self: center;
    align-items: center;
    margin-left: 20%;
    gap: 2%;
}
.minTimeLeaderboard-header{
    width: 100%;
    display: flex;
    align-self: center;
    align-items: center;
    margin-left: 20%;
    gap: 2%;
}