@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

html{
    overflow-x: hidden;
}
body{
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    position: relative;
}

.reaction-area{
    padding-top: 5vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color:#2596be;
    width: 100vw;
    height: 100vh;
}

.font{
    font-family: 'Inter',sans-serif;
    color: whitesmoke;
}
.upper-text{
    font-size: xx-large;
    font-weight: 700;
}
.lower-text{
    font-weight: 500;
    font-size: xx-large;
}
.instruct-text{
    font-weight: 300;
    font-size: large;
}
